.joinDialog {
  min-width: 600px;
}
.joinDialog md-toolbar:not(.md-menu-toolbar) {
  background-color: #443d36;
}
.joinDialog .md-toolbar-tools {
  position: relative;
  z-index: 1;
}
.joinDialog md-radio-group {
  display: flex;
  justify-content: flex-start;
}
.joinDialog md-radio-group > div {
  display: inline-block;
  margin: 10px 30px 0 0 ;
}
.joinDialog md-input-container {
  display: block;
  width: 100%;
  margin: 0;
}
.joinDialog md-input-container {
  display: block;
  width: 100%;
  margin: 0;
}

md-dialog .md-dialog-content {
  padding-bottom: 0;
}

.joinToolBarBackground {
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow:hidden;
}

.joinToolBarBackgroundIndex1 {

  position: absolute;
  right: -20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 200px 100px 0;
  border-color: transparent #443d36 transparent transparent;

}

.joinToolBarBackgroundIndex2 {
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 300px 150px 0;
  border-color: transparent #ff453d transparent transparent;

}

.joinToolBarBackgroundIndex3 {

  position: absolute;
  right: 70px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 300px 150px 0;
  border-color: transparent #1de6a8 transparent transparent;

}

.joinDialog md-dialog-actions {
  display: flex;
  align-self: flex-end;
}

.joinDialog md-dialog-actions > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.joinDialog .md-button {
  font-size: 16px;
  margin: 0;
}

.joinDialog .md-button[disabled] {
  background-color: #eeeeee;
}
.joinDialog .md-button[disabled] > span {
  color: rgba(0,0,0,0.40);
}

.joinDialog button ~ md-progress-circular {
  top: -33px;
  width: 30px !important;
  height: 10px !important;
}

.joinDialog md-progress-circular .md-inner .md-gap {
  border-top-color: #000000;
  border-bottom-color: #000000;
}

.joinDialog md-progress-circular .md-inner .md-left .md-half-circle {
  border-left-color: #000000;
  border-top-color: #000000;
}
.joinDialog md-progress-circular .md-inner .md-right .md-half-circle {
  border-right-color: #000000;
  border-top-color: #000000;
}

.joinDialog .errorReminder {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.joinDialog .errorReminder span {
  color: #ff453d;
}
