// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

md-toolbar md-icon.md-default-theme {
  color: white; }



// auth.css
.authContent {
  background: #ffffff;
  height: 100%;
}

.loginAndSignupDiv {

  height: 90%;
  min-height: 450px;
}

.loginAndSignupInnerDiv {

  width: 30%;
  min-width: 300px;
  z-index: 0;
}

.loginAndSignupInnerDivInputPart {

  background: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 2px 1px #aaaaaa;
  padding: 20px 20px 10px;

}
.loginAndSignupInnerDivIconPart {

  height: 50px;
}

.loginAndSignupRadialGradientRight {

  display: inline-block;
  width: 20%;
  height: 50px;
  background: -webkit-radial-gradient(circle at top left, transparent, transparent 50px, white 50px, white);
  background: -moz-radial-gradient(circle at top left, transparent, transparent 50px, white 50px, white);
  background: -ms-radial-gradient(circle at top left, transparent, transparent 50px, white 50px, white);
  background: radial-gradient(circle at top left, transparent, transparent 50px, white 50px, white);
  background: radial-gradient(circle at top left, transparent, transparent 50px, white 50px, white);


}
.loginAndSignupRadialGradientLeft {

  display: inline-block;
  width: 20%;
  height: 50px;
  background: -webkit-radial-gradient(circle at top right, transparent, transparent 50px, white 50px, white);
  background: -moz-radial-gradient(circle at top right, transparent, transparent 50px, white 50px, white);
  background: -ms-radial-gradient(circle at top right, transparent, transparent 50px, white 50px, white);
  background: radial-gradient(circle at top right, transparent, transparent 50px, white 50px, white);

}

.loginAndSignupRadialGradientLeftSide {

  display: inline-block;
  width: 30%;
  height: 50px;
  background-color: #ffffff;
  border-radius: 10px 0 0 0;

}

.loginAndSignupRadialGradientRightSide {

  display: inline-block;
  width: 30%;
  height: 50px;
  background-color: #ffffff;
  border-radius: 0 10px 0 0;

}

.loginAndSignupSchoolIconDiv {

  position: absolute;
}

.loginAndSignupSchoolIcon {

  position: absolute;
  height: 80px;
  width: 80px;
  top: -40px;
  left: -40px;
}



.loginAndSignupInput {

  width: 70%;
  margin: 10px 0;
}

.loginAndSignupSubmitBtn {

  width: 70%;
  background: #222;
  color: #fff;
  font-size: 18px;
  padding: 2px 0;
}


.loginAndSignupTransferBtn {

  text-decoration: none;
  font-size: 12px;
  color: #444;
  width: 70%;
  text-align: right;
  padding: 5px;
}

.authBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  overflow:hidden;
}

.authBackgroundIndex1 {

  position: absolute;
  left: 150px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 250px 375px 0 375px;
  border-color: #443d36 transparent transparent transparent;

}

.authBackgroundIndex2 {
  position: absolute;
  left: -100px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 400px 600px 0 600px;
  border-color: #ff453d transparent transparent transparent;

}

.authBackgroundIndex3 {

  position: absolute;
  left: -100px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 450px 675px 0 675px;
  border-color: #1de6a8 transparent transparent transparent;

}


.authBackgroundIndex4 {
  position: absolute;
  left: -100px;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 500px 750px 0 750px;
  border-color: #a6deb6 transparent transparent transparent;

}

.authBackgroundIndex5 {
  position: absolute;
  left: -100px;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1500px 1000px 0;
  border-color: transparent #dce1cb transparent transparent;

}

.authBackgroundIndex6 {

  position: absolute;
  left: -140px;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1500px 1000px 0;
  border-color: transparent #b1ccb7 transparent transparent;

}

// navigation.css

.navigationToolBar {
  background-color: #eff2f3;
  color: #222222;
}

.navigationToolBarSection button span {
  color: #222222;

}


// home.css

.title {
  background-image: url("../../images/home_background1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 710px;
}

.titleBackground {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}

.titleBackground img {
  width: 100%;
}

.titleContent {
  width: 60%;
  margin: auto;

  font-family: Verdana, Helvetica, "Microsoft YaHei", Arial;
}

.titleContent span {
  color: white;
}
.titleContent span.md-display-2 {
  font-size: 48px;
  padding: 100px 0 20px;
  align-self: flex-start;
}

.titleContent span:nth-child(2), .titleContent span:nth-child(3) {
  align-self: flex-start;
}

.titleContent div {
  width: 80%;
  margin: 50px auto;
  display: flex;

  flex-direction: column;
  align-items: flex-end;
}

.titleContent button {
  padding: 6px 40px;
  background-color: #ff5447;
}

.titleContent button span{
  font-size: 20px;
}

.newsCenter {
  height: 1000px;
  font-family: Verdana, Helvetica, "Microsoft YaHei", Arial;
}

.newsCenterTitle span {
  font-size: 100px;
  font-weight: 800;
  line-height: 64px;
  margin: 0 40px;
  letter-spacing: -10px;
  color: #443d36;

}

.newsCenterTitle div {
  padding: 18px 20px 22px 0;
  background-color: #443d36;
}

.newsCenterTitle div span {
  display: block;
  font-size: 80px;
  letter-spacing: -8px;
  color: #ffffff;

}
.newsCenterTitle div .newsCenterTitleTriangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 17.3px;
  border-color: transparent transparent transparent #ffffff;
  padding: 0;
}

.newsCenterContent {
  height: 900px;
  width: 100%;
}

.newsCenterBackground {
  position: absolute;
  height: 900px;
  width: 100%;
  overflow:hidden;
  z-index: -1;
}

.newsCenterBackgroundDiv {
  position: absolute;
  width: 100%;
  height: 850px;
  background-color: #f7e881;
}

.newsCenterBackgroundIndex1 {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 700px 1400px 0 0;
  border-color: white transparent transparent transparent;

}
.newsCenterBackgroundIndex2 {
  top: 150px;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 700px 1400px;
  border-color: transparent transparent white transparent;
}

.newsCenterCell {
  margin: 10px;
  width: 75%;
  height: auto;
  max-height: 275px;
  overflow: hidden;
  background: #ff453d;
}

.newsCenterCellProject {
  background: #1de6a8;
  padding: 50px 50px 50px 150px;
  width: 70%;
  color: white;
  align-items: flex-start;
  position: relative;
}

.newsCenterCellProject span:nth-child(1) {
  font-size: 21px;
  font-weight: bold;

}
.newsCenterCellProject span:nth-child(2) {
  font-size: 36px;
  margin: 2px 0 10px;
  color: #333333;
  font-weight: bolder;
}
.newsCenterCellProject span:nth-child(3) {
  font-size: 14px;
  color: #696969;
}

.newsCenterCellDate {
  width: 30%;
  position: relative;
  color: white;
}

.newsCenterCellDate span {
  font-size: 170px;
  font-weight: bolder;
}

.newsCenterCellDate div {
  position: absolute;
  background-color: #ff453d;
  top: 115px;
  left: 150px;
  padding: 5px 20px 0 5px;
}
.newsCenterCellDate div span:nth-child(1) {
  font-size: 13px;
  color: #443d36;
}
.newsCenterCellDate div span:nth-child(2) {
  font-size: 32px;
}

.newsCenterCellProject .newsCenterCellTriangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 34.6px 20px 0;
  border-color: transparent #ff453d transparent transparent;
  top: 150px;
  right: 0;
}

.newsCenterMoreDiv {
  width: 75%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.newsCenterMoreDiv button {
  background: transparent;
  border: none;
  color: #c1c1c1;
  font-size: 14px;
  font-weight: bolder;
}

.newsCenterMoreDiv button:hover {
  color: #696969;
}

.projectExhibition {
  width: 75%;
  margin: 0 auto;
  font-family: Verdana, Helvetica, "Microsoft YaHei", Arial;
}

.projectExhibitionTitle {
  align-self: flex-start;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: -8px;
  color: #443d36;
  margin: 30px 0 10px;
}
.projectExhibitionContent {
  width: 100%;
  height: 750px;
}

.projectExhibitionCell {
  height: 230px;
  width: 100%;
  margin: 10px 0;
}

.projectExhibitionCellTitle {
  background: #bee7ca;
  width: 40%;
  height: 100%;
  padding: 30px;
  align-items: flex-start;
  position: relative;
}

.projectExhibitionCellTitle span:first-child {
  font-size: 40px;
  font-weight: bold;
}

.projectExhibitionCellTitle div:nth-child(3) {
  margin-top: 10px;
}

.projectExhibitionCellTitle div img {
  width: 40px;
  height: 40px;
  margin: 0 10px 0 0;
}

.projectExhibitionCellTitle div span:nth-child(2) {
  font-size: 14px;
}

.projectExhibitionCellTitle div span:nth-child(3) {
  font-size: 18px;
}

.projectExhibitionCellRecruit {
  background: #443d36;
  height: 100%;
  width: 20%;
  color: white;
}

.projectExhibitionCellRecruit span {
  font-size: 18px;
  font-weight: bold;
}

.projectExhibitionCellRecruit div span:nth-child(1) {
  font-size: 80px;
  letter-spacing: -5px;
  font-weight: normal;
}

.projectExhibitionCellRecruit div span.isFullMenmber-true {
  color: #ff453d;
}

.projectExhibitionCellRecruit div span.isFullMenmber-false {
  color: white;
}

.projectExhibitionCellRecruit div span:nth-child(2) {
  font-size: 40px;
  letter-spacing: -5px;
  color: #aaaaaa;
  font-weight: normal;
}


.projectExhibitionCellState {
  background: #ff453d;
  height: 100%;
  width: 20%;
  color: white;
}

.projectExhibitionCellState span {
  font-size: 32px;
  letter-spacing: -4px;
}

.projectExhibitionCellDate {
  background: #ebece7;
  height: 100%;
  width: 20%;
  position: relative;
}

.projectExhibitionCellDate span {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -2px;
  color: #443d36;
}

.projectExhibitionCellDate span:nth-child(1) {
  font-size: 18px;
  color: #636363;
  margin-top: 30px;
}

.projectExhibitionCellDate button {
  background: transparent;
  border: none;
  outline: none;
}

.projectExhibitionCellDate button img {
  width: 70px;
  height: 70px;
}

.projectExhibitionCellDate button span {
  font-size: 14px;
}

.projectExhibitionMoreDiv {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.projectExhibitionMoreDiv button {
  background: transparent;
  border: none;
  color: #c1c1c1;
  font-size: 14px;
  font-weight: bolder;
}

.projectExhibitionMoreDiv button:hover {
  color: #696969;
}


.projectExhibitionCellTitleTriangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 60px 0 0;
  border-color: #ff453d transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.isProgressive-false {
  visibility: hidden;
}

.projectExhibitionCellTitleTriangle span:first-child {
  font-size: 14px;
  position: absolute;
  width: 30px;
  text-align: center;
  color: white;
  top: -50px;
  left: 5px;
  transform:rotate(-45deg);
  -ms-transform:rotate(-45deg); 	/* IE 9 */
  -moz-transform:rotate(-45deg); 	/* Firefox */
  -webkit-transform:rotate(-45deg); /* Safari å’Œ Chrome */
  -o-transform:rotate(-45deg); 	/* Opera */
}

.projectExhibitionCellDateTriangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 26px;
  border-color: transparent transparent transparent #ff453d;
  position: absolute;
  top: 50%;
  left: 0;
}


.ads {
  background-image: url("../../images/home_background2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1500px;
}

.adsContent {
  position: absolute;
  width: 100%;
  height: 100%;
}

.adsContentLeft {
  position: absolute;
  top: 500px;
  left: 12.5%;
  align-items: flex-start;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.adsContentRight {
  position: absolute;
  top: 300px;
  right: 12.5%;
  align-items: flex-end;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.adsContent span {
  height: 23px;
}
