.messageMainView {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 595px;
}

.messageDiv {
  position: relative;
  margin: 50px auto;
  border-radius: 0 0 10px 10px;
  padding-bottom: 5px;
  width: 70%;
  background: #ffffff;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
}

.messageDiv md-toolbar:not(.md-menu-toolbar) {
  background-color: #443d36;
}
.messageDiv md-content {
  width: 100%;

}

.messageDiv md-content img {
  width: 5px;
  height: 100%;
}

.messageDiv md-content .md-list-item-text {
  padding: 0 0 12px 16px;
}
.lightGreen-item {
  border-left: 30px solid #1de6a8;
}
.greyGreen-item {
  border-left: 30px solid #b1ccb7;
}
.greyRed-item {
  border-left: 30px solid #C37C79;
}
.greyBrown-item {
  border-left: 30px solid #6F675E;
}

.messageDiv md-list-item {
  padding: 0 16px 0 0;
}

.messageDiv md-list-item .md-list-item-text h4,
.messageDiv md-list-item .md-list-item-text p {
  margin: 0 0 8px 0;
}

