.mainView {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1200px;
}

.publishContentDiv {
  height: 70%;
  position: relative;
  background: #ffffff;
  width: 70%;
  padding: 8% 5%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.publishState {
  width: 100%;
  margin-bottom: 5%;
}


.publishState div:nth-child(1), .publishState div:nth-child(3), .publishState div:nth-child(5), .publishState div:nth-child(7) {
  height: 5px;
  width: 23%;
  background: #443d36;
}
.publishState div:nth-child(1) {
  border-radius: 2px 0 0 2px;
}

.publishState div:nth-child(7){
  border-radius: 0 2px 2px 0;
}
.publishState div:nth-child(2), .publishState div:nth-child(4), .publishState div:nth-child(6) {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: transparent;
  box-shadow: 0 0 0 5px #443d36;
  border-radius: 50%;
  position: relative;
}
.publishState div:nth-child(2) {
  border: 5px solid white;
  background-color: #443d36;
}

.publishState div span {
  top: -35px;
  left: -92.5px;
  width: 200px;
  text-align: center;
  position: absolute;
  color: #443d36;
  display: block;
}
.publishState div:nth-child(2) span {
  top: -40px;
}

.publishInformation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.publishInformationItem {
  display: block;
  width: 100%;
}

.publishInformationItemInside {
  display: block;
  width: 100%;
  margin: 0;
}
.publishInformationItemInside_noW {
  display: block;
  margin: 0;
}
.publishInformationItemInside_BSpace {
  margin-bottom: 28px;
}
.publishInformationItemInside_TSpace {
  margin-top: 15px;
}

.publishInformation md-checkbox {
  margin-bottom: 0;
}
.publishInformation .md-title {
  vertical-align: text-top;
}
.publishInformation .md-subhead {
  font-weight: bold;
}

.publishInformation md-checkbox.md-checked .md-icon {
  background-color: #ff453d;
}

.publishNextButton {
  display: flex;
  align-self: flex-end;
  margin-top: 5%;
}

.publishNextButton > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.publishNextButton > div > button.md-button.md-primary {
  background-color: #443d36;
  color: #ffffff;
}
.publishNextButton > div > button.md-button[disabled] > span {

  color: #666666;
}
.publishNextButton button ~ md-progress-circular {
  top: -45px;
  width: 40px !important;
  height: 10px !important;
}

.publishNextButton md-progress-circular .md-inner .md-gap {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.publishNextButton md-progress-circular .md-inner .md-left .md-half-circle {
  border-left-color: #ffffff;
  border-top-color: #ffffff;
}
.publishNextButton md-progress-circular .md-inner .md-right .md-half-circle {
  border-right-color: #ffffff;
  border-top-color: #ffffff;
}


.publishInformationType > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.publishInformationType > div > div {
  margin-right: 30px;
}

.publishInformation2Col {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.publishInformation2Col > div {
  width: 30%;
  margin-right: 20%;
}

md-datepicker > button.md-button.md-icon-button {
  margin-left: 0;
  padding-left: 0;
  width: auto;
}

.publishInformationMemberNum > md-input-container {
  width: 60px;
}
