<div ui-view="background"></div>

<div class="authContent">
  <div class="loginAndSignupDiv" layout="column" layout-align="center center">

    <div class="loginAndSignupInnerDiv">
      <div class="loginAndSignupInnerDivIconPart" layout="row" layout-align="center center" >
        <div class="loginAndSignupRadialGradientLeftSide"></div>
        <div class="loginAndSignupRadialGradientLeft"></div>
        <div class="loginAndSignupSchoolIconDiv">
          <img src="images/schoolIcon.png" class="loginAndSignupSchoolIcon" />
        </div>
        <div class="loginAndSignupRadialGradientRight"></div>
        <div class="loginAndSignupRadialGradientRightSide"></div>
      </div>

      <div class="loginAndSignupInnerDivInputPart" layout="column" layout-align="center center" ui-view="content"></div>

    </div>
  </div>
</div>
