<md-input-container class="loginAndSignupInput">
  <label>用户名</label>
  <input ng-model="user.username" required>
  <div ng-messages="user.username.$error">
    <div ng-message="required">必填项</div>
  </div>
</md-input-container>
<md-input-container class="loginAndSignupInput">
  <label>密码</label>
  <input ng-model="user.password" type="password" required>
  <div ng-messages="user.password.$error">
    <div ng-message="required">必填项</div>
  </div>
</md-input-container>

<md-button class="loginAndSignupSubmitBtn" ng-click="login()" class="md-primary" ng-disabled="btnDisabled">登录</md-button>
<md-progress-circular md-mode="{{pcMode}}" md-diameter="40px"></md-progress-circular>
<a class="loginAndSignupTransferBtn" ui-sref="auth.signup">未注册</a>
