
<md-sidenav class="md-sidenav-left md-whiteframe-z2"
            md-is-locked-open="true" md-component-id="left" style="height: 100%" layout="column">

  <header class="nav-header" ss-style-color="{'background-color': 'primary.default'}">

  </header>

  <md-content flex role="navigation" ss-style-color="{'background-color': 'primary.default'}">
    <ss-sidenav flex menu="menu"></ss-sidenav>
  </md-content>

</md-sidenav>

<div layout="column" flex>
  <div ui-view="" style="overflow:scroll" ></div>
</div>
