<div  class="mainView">
  <div class="publishBackground">
    <div class="publishBackgroundIndex1-6"></div>
    <div class="publishBackgroundIndex1-5"></div>
    <div class="publishBackgroundIndex1-4"></div>
    <div class="publishBackgroundIndex1-3"></div>
    <div class="publishBackgroundIndex1-2"></div>
    <div class="publishBackgroundIndex1-1"></div>

    <div class="publishBackgroundIndex2-6"></div>
    <div class="publishBackgroundIndex2-5"></div>
    <div class="publishBackgroundIndex2-4"></div>
    <div class="publishBackgroundIndex2-3"></div>
    <div class="publishBackgroundIndex2-2"></div>
    <div class="publishBackgroundIndex2-1"></div>
  </div>


  <div class="publishContentDiv">
    <div class="publishState" layout="row" layout-align="center center">
      <div></div>
      <div><span class="md-title">填写项目详情</span></div>
      <div></div>
      <div><span class="md-title">等待审核</span></div>
      <div></div>
      <div><span class="md-title">项目发布</span></div>
      <div></div>
    </div>

    <div class="publishInformation">
      <div class="publishInformationItem publishInformation2Col">
        <div>
          <span class="md-title">项目名称</span>
          <md-input-container class="publishInformationItemInside">
            <input ng-model="project.name" aria-label="项目名称">
          </md-input-container>
        </div>
        <div>
          <span class="md-title">是否为累进项目</span>
          <md-checkbox  class="publishInformationItemInside  publishInformationItemInside_BSpace publishInformationItemInside_TSpace"
                        ng-model="type.isGraduatedPro">是累进项目</md-checkbox>
        </div>
      </div>

      <div class="publishInformationItem">
        <span class="md-title">项目关键词</span>
        <md-chips class="publishInformationItemInside publishInformationItemInside_BSpace"
                  ng-model="project.keyword"
                  readonly= false
                  placeholder="添加关键词"
                  secondary-placeholder="添加关键词">
        </md-chips>
      </div>

      <div class="publishInformationItem publishInformationType">
        <span class="md-title">项目类型</span>
        <div class="publishInformationItemInside publishInformationItemInside_BSpace publishInformationItemInside_TSpace">
          <div ng-repeat="type in projectTypes">
            <md-checkbox ng-model="type.boxValue" aria-label="Checkbox" ng-change="checkProjectType(type)">
              {{type.name}}
            </md-checkbox>
          </div>
        </div>
      </div>

      <div class="publishInformationItem">
        <span class="md-title">项目介绍</span>
        <md-input-container class="publishInformationItemInside">
          <input ng-model="project.introduction" aria-label="项目介绍">
        </md-input-container>
      </div>

      <div class="publishInformationItem">
        <span class="md-title">现阶段情况介绍</span>
        <md-input-container class="publishInformationItemInside">
          <input ng-model="project.basic" aria-label="现阶段情况介绍">
        </md-input-container>
      </div>

      <div class="publishInformationItem publishInformation2Col">
        <div class="publishInformationItem publishInformationMemberNum">
          <span class="md-title">成员数</span>
          <md-input-container class="publishInformationItemInside">
            <input type="number" step="1" ng-model="project.member_number" aria-label="成员数">
          </md-input-container>
        </div>
        <div>
          <span class="md-title">截止日期</span>
          <md-datepicker
            class="publishInformationItemInside"
            ng-model="deadline"
            md-placeholder="Enter date"></md-datepicker>
        </div>
      </div>


      <div class="publishInformationItem">
        <span class="md-title">成员要求</span>
        <md-input-container class="publishInformationItemInside">
          <input ng-model="project.member_demand" aria-label="需要成员" />
        </md-input-container>
      </div>
    </div>

    <div class="publishNextButton">
      <div>
        <md-button class="md-primary" ng-disabled="cancelBtnDisabled" ng-click="cancel()">取消</md-button>
        <md-progress-circular md-mode="{{pcMode[0]}}" md-diameter="40px"></md-progress-circular>
      </div>
      <div>
        <md-button class="md-primary" ng-disabled="submitBtnDisabled" ng-click="submit()">提交</md-button>
        <md-progress-circular md-mode="{{pcMode[1]}}" md-diameter="40px"></md-progress-circular>
      </div>
    </div>

  </div>
</div>



