<div class="publishState" layout="row" layout-align="center center">
  <div></div>
  <div><span class="md-title">项目情况</span></div>
  <div></div>
  <div><span class="md-title">成员情况</span></div>
  <div></div>
</div>

<div class="publishInformation">
  <div class="publishInformationItem">
    <span class="md-title">项目名称</span>
    <md-input-container class="publishInformationItemInside" aria-label>
      <input ng-model="project.name">
    </md-input-container>
  </div>

  <div class="publishInformationItem">
    <span class="md-title">项目关键词</span>
    <md-chips class="publishInformationItemInside publishInformationItemInside_BSpace"
              ng-model="project.keyword"
              readonly= false
              placeholder="添加关键词"
              secondary-placeholder="添加关键词">
    </md-chips>
  </div>

  <div class="publishInformationItem publishInformationType">
    <pan class="md-title">项目类型</pan>
    <div class="publishInformationItemInside publishInformationItemInside_BSpace publishInformationItemInside_TSpace">
      <div ng-repeat="type in projectTypes">
        <md-checkbox ng-model="type.boxValue" aria-label="Checkbox" ng-change="checkProjectType(type)">
          {{type.name}}
        </md-checkbox>
      </div>
    </div>
  </div>

  <div class="publishInformationItem">
    <pan class="md-title">项目介绍</pan>
    <md-input-container class="publishInformationItemInside" aria-label>
      <input ng-model="project.introduction">
    </md-input-container>
  </div>

  <div class="publishInformationItem">
    <pan class="md-title">现阶段情况介绍</pan>
    <md-input-container class="publishInformationItemInside" aria-label>
      <input ng-model="project.basic">
    </md-input-container>
  </div>

  <div>
    <span class="md-title">截止日期</span>
    <md-datepicker
      ng-model="deadline.day"
      md-placeholder="Enter date"></md-datepicker>
    <uib-timepicker
      ng-model="deadline.hour"
      ng-change="changed()"
      show-meridian=false></uib-timepicker>
  </div>
</div>

<div class="publishNextButton">
  <md-button class="publishNextBtn" ng-click="nextPage()" class="md-primary">下一步</md-button>
</div>
