<md-content>
  <div class="navigationToolBar">
    <div class="md-toolbar-tools">
      <md-button aria-label="Go Back" ui-sref="app.home">
        Icon
      </md-button>
      <h3>
        <span>同济大学汽车学院</span>
      </h3>
      <span flex></span>

      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="navigationToolBarSection">
        <md-button md-no-ink class="md-primary">讨论区</md-button>
        <md-button md-no-ink class="md-primary" ui-sref="app.project.list">项目大厅</md-button>
        <md-button md-no-ink class="md-primary" ui-sref="app.messages">消息通知</md-button>
        <md-button md-no-ink class="md-primary" ui-sref="{{infoSref}}" aria-label="个人信息">{{user.name}}</md-button>
      </section>
    </div>
  </div>
</md-content>

<div ui-view></div>

<div class="footer">
  <div class="container">
    <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
  </div>
</div>
