<div  class="messageMainView">
  <div class="publishBackground">
    <div class="publishBackgroundIndex1-6"></div>
    <div class="publishBackgroundIndex1-5"></div>
    <div class="publishBackgroundIndex1-4"></div>
    <div class="publishBackgroundIndex1-3"></div>
    <div class="publishBackgroundIndex1-2"></div>
    <div class="publishBackgroundIndex1-1"></div>

    <div class="publishBackgroundIndex2-6"></div>
    <div class="publishBackgroundIndex2-5"></div>
    <div class="publishBackgroundIndex2-4"></div>
    <div class="publishBackgroundIndex2-3"></div>
    <div class="publishBackgroundIndex2-2"></div>
    <div class="publishBackgroundIndex2-1"></div>
  </div>

  <div class="messageDiv">
    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">
        <span>项目广场</span>
      </h2>
    </md-toolbar>
    <md-content>
      <span class="md-title" ng-show="hasProject">没有任何项目</span>
      <md-list>
        <md-list-item ng-repeat="project in projects">
          <div class="md-list-item-text">
            <h3>项目名称: {{ project.name }}</h3>
            <h4>创建人: {{ project.creator.name }}</h4>
            <h4>项目介绍: {{ project.introduction.length < 20 ? project.introduction : project.introduction.slice(0, 20) + '...' }}</h4>
          </div>
          <md-button class="md-secondary" ng-click="detail(project)">查看详情</md-button>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-content>

  </div>
</div>
